html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(peachpuff, aqua);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #333;
  
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, .75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #333;
}

li {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 0px 5px;
  border-radius: 5px;
  line-height: 1.5em;
  transition: background-color 200ms;
}

li:hover {
  background-color: rgb(252, 229, 209);
}

span.delete {
  font-weight: 900;
  color: #bbb;
  cursor: default;
  transition: color 150ms;
}

span.delete:hover {
  color: #333;
}
